.form-container mat-form-field + mat-form-field {
    margin-left: 8px;
}
.header-text{
    text-align: center;
}

.response{
    margin-top: 10px;
}

@media (max-width: 600px) {
    .form-container mat-form-field + mat-form-field {
        display: flex;
        margin: 0 0 0 0;
    }
    .mat-input{
        width: 200px;
    }
}
